.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 1);
  z-index: 9999;
  opacity: 1;
  transition: .4s ease-out;

  .spinner-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.finished-loading {
  opacity: 0;
  visibility: hidden;
}
