.btn--tab {
  color: $color-white;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 1px solid rgba($color-black, 0);
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid;
  }

  &--active {
    border-bottom: 1px solid rgba($color-white, 1);
  }
}

.btn--white {
  color: $color-black-medium;
  background-color: $color-white;
  padding: 1rem 2rem;
  border: none;
  font-family: "Josefin Sans";
  font-size: 2rem;
}

.btn--close {
  font-size: 2rem;
  padding: 2rem;
  color: $color-white;
  cursor: pointer;
  transition: transform 0.3s;
  backface-visibility: hidden;
  will-change: transform;

  &:hover {
    transform: scale(1.1);
  }
  
  &:active {
    transform: scale(0.9);
  }
}
