.btn--tab {
  position: relative;
  color: $color-white;
  padding: 1rem;
  min-width: 4rem;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid rgba($color-black, 0);
  cursor: pointer;
  backface-visibility: hidden;
  transition: transform 0.2s ease;
  will-change: transform;

  &--active {
    border-bottom: 1px solid rgba($color-white, 1);
  }
}

.btn--white {
  color: $color-black-medium;
  background-color: $color-white;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  cursor: pointer;
}

.btn--black {
  color: $color-white;
  background-color: $color-black;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  cursor: pointer;
}

.btn--close {
  font-size: 2rem;
  padding: 2rem;
  color: $color-white;
  cursor: pointer;
  transition: transform 0.3s;
  backface-visibility: hidden;
  will-change: transform;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
