.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: center;

  &-group {
    max-width: 25rem;
    width: 100%;

    &__label {
      display: block;
      margin: 1rem 0;
      font-size: 1.5rem;

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    &__input {
      font-family: inherit;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      display: block;
      margin-bottom: 1rem;
      outline: none;
      border-bottom: 3px solid transparent;
      resize: none;
      box-sizing: border-box;
      width: 100%;
      transition: 0.3s ease-in-out;

      &:focus {
        border-bottom: 3px solid $color-blue;
      }

      &:focus:invalid {
        border-bottom: 3px solid $color-red;
      }

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    &__btn {
      outline: none;
    }
  }
}
