.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    padding: 1rem;
    font-size: 1.4rem;
    color: $color-white;

    &:hover {
      color: $color-blue-light;
    }
  }
}
